/*

  Baseline styles on bare elements that can consume tokens, but don't define them.
  A decent number of opinions in here.

*/

@layer fluff.base {
  /*
    Global styles
    Low-specificity, global styles
  */

  html {
    font-family: var(--fc-font-body, system-ui, sans-serif);
    color: var(--fc-color-text, #111);
    background-color: var(--fc-color-bg-canvas, #fff);
  }

  body {
    font-size: var(--fc-font-size-base);
    font-optical-sizing: auto;
    line-height: var(--fc-leading-standard);
    font-size-adjust: from-font;

    @media (prefers-reduced-motion: no-preference) {
      transition: color var(--fc-animation-transition-base);
    }
  }

  a {
    color: var(--fc-color-link, currentColor);
    text-decoration: var(--fc-anchor-text-decoration, none);
    text-decoration-thickness: var(--fc-anchor-text-thickness, 1px);

    @media (prefers-reduced-motion: no-preference) {
      transition:
        color var(--fc-animation-transition-base),
        text-decoration-thickness var(--fc-animation-transition-base);
    }

    &:hover {
      color: var(--fc-color-link-hover, var(--fc-color-link));
      text-decoration-thickness: var(--fc-anchor-text-hover-thickness, 2px);
    }

    main & {
      text-decoration: var(--fc-anchor-text-decoration, underline);
      text-underline-offset: 0.15em;
      transition: text-underline-offset var(--fc-animation-transition-base);

      &:hover {
        text-underline-offset: 0.2em;
      }
    }
  }

  hr {
    height: 0;
    margin-block: var(--fc-hr-space, var(--fc-space-s));
    border-width: 0;
    border-top: var(--fc-hr-width, 1px) solid var(--fc-color-border);
  }

  strong {
    font-weight: var(--fc-font-weight-semi-bold);
  }

  main img {
    outline: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    outline-offset: -1px;
  }

  /* Accessibility */

  /*
      Firefox is the only browser that doesn't outline the whole element unless you
      make it display: inline-block. That in itself causes multiple flow issues, so
      we can detect it using its own vendor prefix and reduce focus offset
  */

  @supports (-moz-appearance: none) {
    :root {
      --fc-focus-offset: 0.08em;
    }
  }

  /* Favour focus-visible over focus so click events don't trigger focus styles */

  :focus {
    outline: none;
  }

  :focus-visible {
    outline: var(--fc-focus-ring);
    outline-offset: var(--fc-focus-offset, 0.2lh);
  }

  ::selection {
    color: var(--fc-selection-text-color);
    background: var(--fc-selection-background);
  }

  /* Base typography */

  :where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
    font-family: var(--fc-font-display);
    font-weight: var(--fc-font-weight-bold);
    letter-spacing: var(--fc-heading-letter-spacing, -0.02em);
  }

  :where(h1, .h1) {
    font-size: var(--fc-font-size-h1, var(--fc-text-size-step-6));
  }

  :where(h2, .h2) {
    font-size: var(--fc-font-size-h2, var(--fc-text-size-step-5));
  }

  :where(h3, .h3) {
    font-size: var(--fc-font-size-h3, var(--fc-text-size-step-4));
  }

  :where(h4, .h4) {
    font-size: var(--fc-font-size-h4, var(--fc-text-size-step-3));
  }

  :where(h5, .h5, h6, .h6) {
    font-size: var(--fc-font-size-h5, var(--fc-text-size-step-2));
  }

  s {
    text-decoration-thickness: 2px;
    text-decoration-color: var(--fc-strikethrough-color, var(--fc-color-link-hover));
    color: color-mix(in srgb, currentColor, transparent 30%);
  }
}
